<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
	<h1><a th:href="@{/index}">&lt;&lt;</a> Error Page</h1>
	<div>
		<h2>Error Attributes</h2>
		<table>
			<thead>
				<tr>
					<th class="error">Key</th><th class="error">Value</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="'timestamp'"></td><td th:text="${timestamp}"></td>
				</tr>
				<tr>
					<td th:text="'status'"></td><td th:text="${status}"></td>
				</tr>
				<tr>
					<td th:text="'error'"></td><td th:text="${error}"></td>
				</tr>
				<tr>
					<td th:text="'exception'"></td><td th:text="${exception}"></td>
				</tr>
				<tr>
					<td th:text="'message'"></td><td th:text="${message}"></td>
				</tr>
				<tr>
					<td th:text="'path'"></td><td th:text="${path}"></td>
				</tr>
				<tr>
					<td th:text="'errors'" th:rowspan="${#arrays.length(errors)}"></td>
					<td th:each="e : ${errors}" th:text="*{e}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>